@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'K2D', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}



/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

header {
    background-color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    top: 0;
}

header #logo {
    float: left;
    height: 40px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu>li {
    margin-bottom: 1em;
}

main {
    flex: 1 0 auto;
    padding: 2rem 0;
    margin-top: 45px;
}

#front {
    background: url('../images/front-picture.png') no-repeat center/cover;
    height: 85vh;
    color: #fff;
    text-align: center;
    padding: 20vh 5% 5% 5%;
}

#front h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#gear-guru-button {
    background: url('../images/orange-ski-goggle.png') no-repeat center/cover;
    margin: 2vh;
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#gear-guru-button h2 {
    font-size: 95%;
}

#welcome-text {
    background: url('../images/illustrated-snow-background.png') no-repeat center/cover;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 5% 15% 5%;
    color: #fff;
    font-size: 95%;
}


#hinttext {
    color: black;
    text-align: center;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    padding: 5% 10% 10% 5%;
}

#hinttext h2 {
    margin: 2vh 0 2vh 0;
}

footer {
    background-color: #A6A6A6;
    padding: 15px 20px 20px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

footer li {
    list-style: none;
    color: #fff;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#social-network {
    font-size: 150%;
}

#gear-guru-front {
    background: url('../images/ski-goggle.png') no-repeat center/cover;
    height: 20vh;
    padding: 2vh;
    align-items: center;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.card1 {
    background: url('../images/beginner-snowboarder.jpg') no-repeat center/cover;
}

.card2 {
    background: url('../images/freeride-snowboarder.png') no-repeat center/cover;
}

.card3 {
    background: url('../images/freestyle-snowboarder.jpg') no-repeat center/cover;
}

.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin: 2vh;
    width: 90%;
    color: #fff;
    text-align: center;
    height: 40vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.coming-soon-banner {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 1;
}

#gear-guru-cards {
    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin: 2vh;
    width: 90%;
    color: #fff;
    text-align: center
}


#beginner {
    background: url('../images/beginner-snowboarder.jpg') no-repeat center/cover;
    height: 30vh;
    padding: 2vh;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 150%;
}

#welcome-guru {
    background: #dfdfdf;
    margin-top: 2vh;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 5% 15% 5%;
    color: black;

    font-size: 95%;
    background: #dfdfdf;

}

#shoes {
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 2vh;

}

#shoes>h2,
#shoes>p {
    text-align: center;
    margin: 3vh;
}



.infocards {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin: 2vh;
    color: #fff;
    text-align: center;
}


.infocard {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: black;
    margin: 2vh;
    text-align: left;
    height: 40vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    border-radius: 5px;
}

#snowboard {
    background: url('../images/snowboard.jpg') no-repeat center/cover;
    color: #fff;
}

#snowboard>h2,
#snowboard>p {
    text-align: center;
    padding: 2vh;
}

#snowboard>center>ol {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2vh;
    font-size: 120%;

    border: #ff0000 solid 1px;
    border-radius: 5px;
    list-style: none;
    max-width: fit-content;
    margin: 2vh;
}

#sonwboard-types {
    justify-content: center;
    align-items: center;
    text-align: center;

}

#hybrid {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin: 2vh;
    color: #fff;
    text-align: center;
    border-bottom: #fff solid 1px;

}

#type {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin: 2vh;
    text-align: left;
    margin: 3%;
}

#type>h3 {
    padding: 0 2vh 2vh 0;
    font-size: 130%;
    font-weight: bold;

}

#recommended {
    border: #fff solid 2px;
    border-radius: 5px;
    padding: 2vh;
}

#type-picture {
    width: 100%;
}

.hero-text {
    background: url('../images/illustrated-snow-background.png') no-repeat center/cover;
    height: 40vh;
    padding: 3vh;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 120%;
    flex-direction: column;
}

.hero-text>h1 {
    font-size: 170%;
}

.hero-text>h2,
.hero-text>p {
    margin: 1vh 0 0 0;
    color: rgba(255, 255, 255, 0.441);
}


form {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 3%;

}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: #dfdfdf;
    border: none;
    border-radius: 4px;
}

#submit {
    background: #fd7427;
    width: 150px;
    color: #fff;
    align-items: left;

}

#map {
    height: 50vh;
    width: 100%;
}

#mydata {
    text-align: left;
    margin: 2vh;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }


    #menu {
        display: flex;
    }

    #menu>li {
        margin-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }



    #front {
        text-align: left;
        font-size: 140%;
        background-position: top;
    }

    #front h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }

    #gear-guru-button {
        height: 40vh;
        font-size: 200%;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    #welcome-text {
        font-size: 130%;
        padding: 10% 20% 10% 20%;

    }

    footer>ul {
        display: flex;
        flex-direction: row;
        padding: 1vh;
    }

    footer li {

        justify-content: space-evenly;
        margin-right: 5vh;
    }

    #hinttext {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 110%;
    }

    #hinttext>p {
        max-width: 50%;
    }

    #hinttext>h2 {
        width: 50%;

    }

    #gear-guru-front {
        height: 50vh;
        padding: 10vh;
        font-size: 160%;
        margin-bottom: 5vh;

    }

    #gear-guru-cards {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        margin: 2vh;
        width: 90%;
        color: #fff;
        text-align: center;
        height: 40vh;
    }

    .infocards {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        margin: 2vh;
        width: 90%;
        color: #fff;
        text-align: center;
        height: 40vh;
    }

    .card:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    #gear-guru-button:hover {
        transform: scale(0.9);
        transition: 0.5s;
    }

    #menu>li:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    #logo:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    #welcome-guru {
        font-size: 130%;
        padding: 10% 20% 10% 20%;
        margin-top: 5vh;
    }

    #shoes>h2,
    #shoes>p {
        font-size: 140%;
    }

    .infocard {
        font-size: 110%;
        width: 50%;
    }

    #hybrid {
        flex-direction: row;
    }

    #type {
        width: 50%;
    }

    .hero-text {
        text-align: left;
        align-items: start;
        padding: 3vh;
    }

    input,
    textarea {
        width: 40%;
    }

    #map {
        height: 50vh;
        width: 50%;

    }

    #mydata {
        width: 50%;

    }

}